html,body{
    height: 100%;
}

.wrapper{
    text-align: center;
  
}
.contents{
    display: inline-block;
}

.loader {
    display: none;
    margin-left: 12px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 0.3 linear infinite; /* Safari */
    animation: spin 0.3s linear infinite;
  }

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .formError{
    display: none;
    background-color: #c83737;
    font-style: italic;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 0 15px 0;
    text-align: center;
    border-color: #d87070;
    border-width: 2px;
    border-style: solid;
  }
  
  .formSuccess{
    display: none;
    background-color: #217844;
    font-style: italic;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 0 15px 0;
    text-align: center;
    border-color: #35c06d;
    border-width: 2px;
    border-style: solid;
  }
.center{
    margin: auto;
 max-width: 300px;
}  